<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Usuário</title>
</head>
<body>

    <header>
        <h1 align="center">➕ Adicionar Usuário</h1>
        <hr>
    </header>

    <main>
        <form method="post" align="center">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">✅ Adicionar</button>
            <a href="{% url 'listar_usuarios' %}">🏠 Voltar</a>
        </form>
    </main>

    <footer>
        <hr>
        <p align="center">Gerenciador de Livros</p>
    </footer>

</body>
</html>